#card {
    margin-top: 40px;
    margin-left: 25%;
    max-width: 50%;
    text-align: center;
}

#welcome-user {
    font-style: italic;
    color: white;
}

nav {
    background: #DC1431;
    display: flex;
    height: auto;
    margin-bottom: 1em;
    padding: 1em;
}

.logo-img {
    height: 2.5em;
    width: auto;
    -webkit-filter: invert(1);
    vertical-align: bottom;
}

.nav-pill {
    color: white;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}

.nav-pill:hover {
    color: #000;
    background: #fff;
    padding: 2px;
    text-decoration: none;
}

.active {
    color: #000 !important;
    background: #fff !important;
    font-weight: bold !important;
    padding: 10px;
}

.bank-name {
    font-size: 1.5em;
}